footer{
    background-image: url('../../assets/svg-1.svg');
    background-position: center;
    background-size: 150px;
    background-repeat: no-repeat;
    color:rgb(2, 2, 54);
    font-family: 'Itim', cursive;
}