<footer class=" d-flex flex-wrap p-1 justify-content-between bg-dark test-white">
        <div class="text-white">
                <br>
                <h6><i class="fas fa-map-marker-alt fa-x"></i> CA 94126, Ameerpet, Hyderabad-500090</h6>
                <h6><i class="fas fa-phone fa-x"></i> +91 9876543210</h6>
                <h6><i class="fas fa-envelope fa-x"></i> planyourday@gmail.com</h6>
           
        </div>
        <div >
           
                <ul class="list-inline">
                        <li class="list-inline-item m-3"><h4 class="text-white">Connect with us</h4></li>
                        <li class="list-inline-item m-3"><a href="https://in.linkedin.com/" target="_blank"><i class="fab fa-linkedin mt-4 fa-2x"></i></a></li>
                        <li class="list-inline-item m-3"><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square mt-4 fa-2x"></i></a></li>
                        <li class="list-inline-item m-3"><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square mt-4 fa-2x"></i></a></li>
                        <li class="list-inline-item m-3"><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square mt-4 fa-2x"></i></a></li>
                </ul>
         
        </div>
   
 
 </footer>