<div class="card h-100 shadow text-center">
  <img src={{productObj.profileImage}} class="card-img-top  " height="250px" alt="...">
  <div class="card-body">
    <h5 class="card-title" style="color: #173e9c;">{{productObj.profileTitle}}</h5>
    <p class="card-text">{{productObj.description}}
    </p>
    <a href="{{productObj.profileLink}}" target="_blank" class="btn add-product" >View Profile</a>
      <button class="btn btn-delete btn-sm p-2 m-4" style="width:30px; height: 37px; align-items:flex-end;" (click)="deleteProfile(productObj)" type="button">
        <i class="fas fa-trash-alt "></i>
      </button>
    </div>
  </div>