<h2 class="text-center text-white mt-5">Login form</h2>

<div class="row">
    <div class="col-sm-2 col-md-3"></div>
    <div class="col-sm-8 col-md-6">
        <form class="text-white" #ref="ngForm"  (ngSubmit)="onLogin(ref)">
            <div class="mb-3">
                <label for="un" class="form-label">Username</label>
                <input type="text" class="form-control" id="un" name="username" ngModel>
            </div>
            <div class="mb-3">
                <label for="pw" class="form-label">Password</label>
                <input type="password" class="form-control" id="pw"  name="password" ngModel>
            </div>
        
           
        
            <button type="submit" class="btn btn-success d-block mx-auto m-4">Login</button>
        </form>
    </div>
    <div class="col-sm-2 col-md-3"></div>
</div>