<div class="row mt-5">
    <div class="col-sm-2 col-md-3"></div>
    <div class="col-sm-8 col-md-6">
      <form (ngSubmit)="onSubmitNewMobile()">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="pt" placeholder="name@example.com" name="productTitle"
            [(ngModel)]="mobileModel.productTitle">
          <label for="pt">Brand</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="pi" placeholder="Password" name="productImage"
            [(ngModel)]="mobileModel.productImage">
          <label for="pi">Image URL</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="pd" placeholder="Password" name="description"
            [(ngModel)]="mobileModel.description">
          <label for="pd">Descrption</label>
        </div>
        <button class="btn btn-warning float-end" type="submit">Add</button>
      </form>
    </div>
    <div class="col-sm-2 col-md-3"></div>
  </div>