<div class="mx-auto mt-5">
    <h1 class="text-center heading bg-success text-white">Registration Form</h1>
    <form #ref="ngForm" (ngSubmit)="adduserData()">
    <div class="m-3">
        <label for="un">Username</label>
        <input type="text" name="username" id="un" class="form-control" [(ngModel)]=userObj.username>
    </div>
    <div class="m-3">
        <label for="pw">Date of Birth</label>
        <input type="date" name="dob" id="pw" class="form-control" [(ngModel)]=userObj.dob>
    </div>
    <div class="m-3">
        <label for="em">Email</label>
        <input type="email" name="email" id="em" class="form-control" [(ngModel)]=userObj.email>
    </div>
    <button type="submit" class="btn btn-success d-block mx-auto m-3"><i class="fa fa-sign-in"></i> Register</button>

</form>
</div>