

<!-- pills -->
<ul class="nav nav-pills justify-content-evenly mt-3">
    <li class="nav-item">
      <a class="nav-link "  routerLink="mobiles" routerLinkActive="active">Mobiles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="bikes" routerLinkActive="active">Bikes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="televisions" routerLinkActive="active">Televisions</a>
    </li>
   
  </ul>


  <div class="container">
      <router-outlet></router-outlet>
  </div>