<section class="mb-4">

    <div class="row">
    <div class="card bg-light mt-4 w-75">
        <div class="card-body">
            <h2 class="card-title text-center text-primary">Contact us</h2>
            <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
                    a matter of hours to help you.</p>
                  
            <div class="col-md-12 mb-md-0 mb-5">
                <form id="contact-form" name="contact-form">
                    <div class="row">
                        <div class="col form-floating mb-3">
                            <input type="text" class="form-control" id="pt" placeholder="Kalpana Shinde" name="Your Name">
                            <label for="pt">Your Name</label>
                        </div>
                        <div class="col form-floating mb-3">
                            <input type="email" class="form-control" id="em" placeholder="name@example.com" name="Your Email">
                            <label for="pt">Your Email</label>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="ti" placeholder="Title" name="Subject..">
                        <label for="pt">Subject</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="de" maxlength="200" placeholder="description" name="Your Message">
                        <label for="pi">Your Message</label>
                    </div>
                </form>
    
                <div class="text-center text-md-left mt-4">
                    <a class="btn btn-primary" onclick="submit"> Send </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-5 text-center">
        <ul class="list-unstyled mb-0">
            <li><a href="#" target="_blank"><i class="fas fa-map-marker-alt fa-2x"></i></a>
                <p>CA 94126, Ameerpet, Hyderabad</p>
            </li>
    
            <li><i class="fas fa-phone mt-4 fa-2x"></i>
                <p>+91 9876543210</p>
            </li>
    
            <li><a href="https://gmail.com" target="_blank"><i class="fas fa-envelope mt-4 fa-2x"></i></a>
                <p>planyourday@gmail.com</p>
            </li>
        </ul><br>
        <hr>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square mt-4 fa-2x"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square mt-4 fa-2x"></i></a></li>
            <li class="list-inline-item"><a href="https://in.linkedin.com/" target="_blank"><i class="fab fa-linkedin mt-4 fa-2x"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square mt-4 fa-2x"></i></a></li>
        </ul>
    </div>
    
</div>

</section>