<h2 class="text-center text-white mt-5">Registration form</h2>

<div class="row">
    <div class="col-sm-2 col-md-3"></div>
    <div class="col-sm-8 col-md-6">
        <form class="text-white">
            <div class="mb-3">
                <label for="un" class="form-label">Username</label>
                <input type="text" class="form-control" id="un" name="username" >
            </div>
            <div class="mb-3">
                <label for="pw" class="form-label">Password</label>
                <input type="password" class="form-control" id="pw"  name="password">
            </div>
        
            <div class="mb-3">
                <label for="dob" class="form-label">Date of birth</label>
                <input type="text" class="form-control" id="dob" name="dob">
            </div>
        
        
            <div class="mb-3">
                <label for="em" class="form-label">Email</label>
                <input type="email" class="form-control" id="em" name="email">
            </div>
        
            <button class="btn btn-success d-block mx-auto m-4">Register</button>
        </form>
    </div>
    <div class="col-sm-2 col-md-3"></div>
</div>


