<h2 class="text-center text-white mt-5">Registration Form</h2>
<form class="text-white">
    <div class="mb-3">
        <label for="nm" class="form-label">Name</label>
        <input type="text" class="form-control" id="nm">
    </div>
    <div class="mb-3">
        <label for="em" class="form-label">Email address</label>
        <input type="email" class="form-control" id="em" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="pd" class="form-label">Password</label>
        <input type="password" class="form-control" id="pd">
    </div>
    <div class="mb-3">
        <label for="db" class="form-label">Date of Birth</label>
        <input type="date" class="form-control" id="db">
    </div>
    <button class="btn btn-success d-block mx-auto mt-5 mb-3">Register</button>
</form>